In [32]:
csv = 'D:\\Study\\ML\\Final_Project\\Sources\\Datasets\\Train_data.csv'
test_csv = 'D:\\Study\\ML\\Final_Project\\Sources\\Datasets\\Test_data.csv'

In [4]:
import pandas as pd
import numpy as np
from tqdm import tqdm

## Read Data and get features X, targets y

In [5]:
train=pd.read_csv(csv)

In [6]:
# train=train.head(30)

In [7]:
features=train.drop(['class_sitting', 'class_sittingdown','class_standing','class_standingup','class_walking'], axis = 1)

In [8]:
features.head(5)

,age,how_tall_in_meters,weight,body_mass_index,x1,y1,z1,x2,y2,z2,...,z3,x4,y4,z4,user_debora,user_katia,user_wallace,user_jose_carlos,gender_Woman,gender_Man
0,46,162,75,28.6,7,91,-87,26,39,-124,...,-88,-179,-106,-173,1,0,0,0,1,0
1,75,167,67,24.0,-14,92,-156,-4,90,-93,...,-107,-195,-79,-156,0,0,0,1,0,1
2,31,171,83,28.4,-6,96,-131,-15,91,-129,...,-78,-179,-78,-157,0,0,1,0,0,1
3,28,158,55,22.0,21,131,-138,-350,-406,-515,...,-118,-171,-54,-173,0,1,0,0,1,0
4,31,171,83,28.4,9,99,-137,-30,-13,-23,...,-81,-110,-117,-174,0,0,1,0,0,1

In [9]:
targets=train[['class_sitting', 'class_sittingdown','class_standing','class_standingup','class_walking']]

In [10]:
targets.head(5)

,class_sitting,class_sittingdown,class_standing,class_standingup,class_walking
0,0,0,0,0,1
1,0,0,1,0,0
2,0,0,1,0,0
3,0,0,0,0,1
4,0,0,0,1,0

In [11]:
features.head(1)

,age,how_tall_in_meters,weight,body_mass_index,x1,y1,z1,x2,y2,z2,...,z3,x4,y4,z4,user_debora,user_katia,user_wallace,user_jose_carlos,gender_Woman,gender_Man
0,46,162,75,28.6,7,91,-87,26,39,-124,...,-88,-179,-106,-173,1,0,0,0,1,0

## Mean Centering Method!

In [12]:
features=features-features.mean()

In [13]:
features.head(5)

,age,how_tall_in_meters,weight,body_mass_index,x1,y1,z1,x2,y2,z2,...,z3,x4,y4,z4,user_debora,user_katia,user_wallace,user_jose_carlos,gender_Woman,gender_Man
0,7.709123,-1.959949,4.196187,2.41334,13.632047,2.681826,6.14699,113.57891,90.7019,50.701191,...,5.908631,-11.331562,-13.358255,-13.340709,0.687667,-0.300779,-0.307156,-0.079732,0.386888,-0.386888
1,36.709123,3.040051,-3.803813,-2.18666,-7.367953,3.681826,-62.85301,83.57891,141.7019,81.701191,...,-13.091369,-27.331562,13.641745,3.659291,-0.312333,-0.300779,-0.307156,0.920268,-0.613112,0.613112
2,-7.290877,7.040051,12.196187,2.21334,0.632047,7.681826,-37.85301,72.57891,142.7019,45.701191,...,15.908631,-11.331562,14.641745,2.659291,-0.312333,-0.300779,0.692844,-0.079732,-0.613112,0.613112
3,-10.290877,-5.959949,-15.803813,-4.18666,27.632047,42.681826,-44.85301,-262.42109,-354.2981,-340.298809,...,-24.091369,-3.331562,38.641745,-13.340709,-0.312333,0.699221,-0.307156,-0.079732,0.386888,-0.386888
4,-7.290877,7.040051,12.196187,2.21334,15.632047,10.681826,-43.85301,57.57891,38.7019,151.701191,...,12.908631,57.668438,-24.358255,-14.340709,-0.312333,-0.300779,0.692844,-0.079732,-0.613112,0.613112

In [14]:
targets = targets.apply(pd.to_numeric)

In [15]:
targets.head(1)

,class_sitting,class_sittingdown,class_standing,class_standingup,class_walking
0,0,0,0,0,1

## Define functions to predict target, define cost, etc

In [16]:
def hypothesis(theta, X):
    return 1 / (1 + np.exp(-(np.dot(theta, X.T)))) - 0.0000001 #1/(1+e^-z) where z is theta.X

In [17]:
def cost(X, y, theta):
    y1 = hypothesis(theta, X)
    return -(1/len(X)) * np.sum(y*np.log(y1) + (1-y)*np.log(1-y1))

In [18]:
def gradient_descent(X, y, theta, alpha, epochs):
    m = len(X)
    for i in tqdm(range(0, epochs)):
        for j in range(0, 5):
            theta = pd.DataFrame(theta)
            h = hypothesis(theta.iloc[:,j], X)
            for k in range(0, theta.shape[0]):
                theta.iloc[k, j] -= (alpha/m) * np.sum((h-y.iloc[:, j])*X.iloc[:, k])
            theta = pd.DataFrame(theta)
    return theta, cost

## Adding bias column to X

In [19]:
print(len(features))
print(len(targets))
X = pd.concat([pd.Series(1, index=features.index, name='00'), features], axis=1) #bias column

132506
132506

In [20]:
X.head(5)

,00,age,how_tall_in_meters,weight,body_mass_index,x1,y1,z1,x2,y2,...,z3,x4,y4,z4,user_debora,user_katia,user_wallace,user_jose_carlos,gender_Woman,gender_Man
0,1,7.709123,-1.959949,4.196187,2.41334,13.632047,2.681826,6.14699,113.57891,90.7019,...,5.908631,-11.331562,-13.358255,-13.340709,0.687667,-0.300779,-0.307156,-0.079732,0.386888,-0.386888
1,1,36.709123,3.040051,-3.803813,-2.18666,-7.367953,3.681826,-62.85301,83.57891,141.7019,...,-13.091369,-27.331562,13.641745,3.659291,-0.312333,-0.300779,-0.307156,0.920268,-0.613112,0.613112
2,1,-7.290877,7.040051,12.196187,2.21334,0.632047,7.681826,-37.85301,72.57891,142.7019,...,15.908631,-11.331562,14.641745,2.659291,-0.312333,-0.300779,0.692844,-0.079732,-0.613112,0.613112
3,1,-10.290877,-5.959949,-15.803813,-4.18666,27.632047,42.681826,-44.85301,-262.42109,-354.2981,...,-24.091369,-3.331562,38.641745,-13.340709,-0.312333,0.699221,-0.307156,-0.079732,0.386888,-0.386888
4,1,-7.290877,7.040051,12.196187,2.21334,15.632047,10.681826,-43.85301,57.57891,38.7019,...,12.908631,57.668438,-24.358255,-14.340709,-0.312333,-0.300779,0.692844,-0.079732,-0.613112,0.613112

In [21]:
y = targets

In [22]:
y.head(5)

,class_sitting,class_sittingdown,class_standing,class_standingup,class_walking
0,0,0,0,0,1
1,0,0,1,0,0
2,0,0,1,0,0
3,0,0,0,0,1
4,0,0,0,1,0

## Training

In [24]:
#create theta from theta 0 to theta num_features for each column of y; size of the theta array is num_features X num_targets
theta = np.zeros([features.shape[1]+1, y.shape[1]])
theta.shape

(23, 5)

In [25]:
# learning_rates = [0.001, 0.003, 0.005, 0.01]
# thetaGlobal=[]
# for rate in learning_rates:
theta,cost = gradient_descent(X, y, theta, 0.002, 2500)
  # thetaGlobal.append(theta)

100%|██████████| 2500/2500 [15:14<00:00,  2.73it/s]

In [26]:
theta

           0         1         2         3         4
0  -0.285669 -2.123788 -1.666890 -2.104447 -0.632243
1   0.071598 -0.618236 -0.071407 -0.279124  0.132914
2   0.266471 -0.076791  0.416357 -0.042187 -0.273704
3  -0.222024  0.264687 -0.647201  0.430992  0.225456
4  -0.180258  0.124389 -0.401062  0.180734  0.186248
5  -0.095262  0.461186  0.017641  0.050146 -0.048220
6  -0.356014 -0.036713  0.090398 -0.076607  0.348073
7   0.178566 -0.160229  0.011745 -0.265215 -0.047226
8   0.007192  0.028482  0.160892 -0.031199 -0.087585
9  -0.013067  0.004210  0.251567  0.001191  0.004942
10  0.031248  0.172677 -0.108873  0.194601 -0.003677
11 -0.003950 -0.010441  0.063953 -0.075709 -0.041340
12  0.021558  0.045992 -0.121203 -0.384791  0.165354
13 -0.013295  0.021700  0.096160  0.233397 -0.146106
14  0.043360 -0.136127  0.096926 -0.323239 -0.020450
15 -0.085515 -0.214460  0.021136 -0.139049  0.102460
16 -0.083273  1.106326  0.162633  0.121278 -0.670517
17 -0.055969  0.023349 -0.110733  0.033651  0.059697
18  0.011634 -0.003414  0.032829 -0.014271 -0.014635
19  0.022834  0.002308  0.039539 -0.000592 -0.026734
20  0.021501 -0.022244  0.038365 -0.018789 -0.018328
21 -0.044335  0.019936 -0.077904  0.019381  0.045062
22  0.044335 -0.019936  0.077904 -0.019381 -0.045062

In [27]:
# theta = np.zeros([df.shape[1]+1, y1.shape[1]])
# theta2 = pd.DataFrame(theta)
# theta2

In [28]:
type(theta)

pandas.core.frame.DataFrame

In [29]:
theta3=theta

## Testing

In [34]:
test=pd.read_csv(test_csv)

In [35]:
featuresTest=test.drop(['class_sitting', 'class_sittingdown','class_standing','class_standingup','class_walking'], axis = 1)

### Mean centering method!

In [36]:
featuresTest=featuresTest-featuresTest.mean()

In [37]:
targetsTest=test[['class_sitting', 'class_sittingdown','class_standing','class_standingup','class_walking']]

In [38]:
print(len(featuresTest))
print(len(targetsTest))
Xtest = pd.concat([pd.Series(1, index=featuresTest.index, name='00'), featuresTest], axis=1) #bias column

33127
33127

In [39]:
ytest=targetsTest

In [40]:
output = []
for i in range(0, 5):
    h = hypothesis(theta3.iloc[:,i], Xtest)
    # theta4 = pd.DataFrame(theta)
    # h = hypothesis(theta4.iloc[:,i], X)
    output.append(h)
output=pd.DataFrame(output)

In [ ]:
output.head(5)

          0             1      ...         33125         33126
0  9.998697e-01 -1.000000e-07  ...  1.436477e-06 -9.999174e-08
1 -1.000000e-07  9.999999e-01  ... -9.999743e-08 -9.999952e-08
2  7.212908e-02 -9.999921e-08  ...  7.028407e-01  9.996780e-01
3 -9.999998e-08  9.999999e-01  ... -9.973203e-08 -9.999999e-08
4  7.328210e-01  9.999999e-01  ...  2.715936e-03  3.051358e-03

[5 rows x 33127 columns]

## Argmax of y0,y1,y2,y3,y4 is marked as the class

In [41]:
for m in range(33127):
  max=np.argmax(list(output.iloc[:, m]))
  output.iloc[max, m]=1

## Accuracy calculations

In [42]:
accuracy = 0
for col in range(0, 5):
    for row in range(len(ytest)):
        if ytest.iloc[row, col] == 1 and output.iloc[col, row] == 1:
            accuracy += 1
accuracy = accuracy/len(Xtest)

In [43]:
accuracy

0.6110725390165123